<div class="fixed pointer-events-none z-[9999] mix-blend-difference">
    <!-- Main Cursor -->
    <div class="absolute w-4 h-4 rounded-full bg-cyan-400 transform -translate-x-1/2 -translate-y-1/2 transition-transform duration-75"
        [style.left.px]="cursorX" [style.top.px]="cursorY">
    </div>

    <!-- Trails -->
    <div *ngFor="let trail of trails; let i = index"
        class="absolute w-2 h-2 rounded-full bg-cyan-400 opacity-50 transform -translate-x-1/2 -translate-y-1/2 transition-all duration-300"
        [style.left.px]="trail.x" [style.top.px]="trail.y" [style.opacity]="(i / trails.length) * 0.5"
        [style.transform]="'scale(' + (i / trails.length) + ')'">
    </div>
</div>